html, body {
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #373741;
}

.big-number {
  font-size: 5rem;
  font-weight: bold;
  background-color: #fffefb;
  color: #333;
  transition: transform 0.5s ease;
  border: 0px solid black;
  border-radius: 2rem;
  padding:4rem;
  padding-bottom: 2rem;
  padding-top: 0rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

.bounce {
  animation: bounce 0.5s ease-out; /* Duration of bounce */
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  25% {
    transform: translateY(-20px); /* Jump up */
  }
  50% {
    transform: translateY(0); /* Return to original position */
  }
  75% {
    transform: translateY(-10px); /* Small bounce */
  }
  100% {
    transform: translateY(0); /* Final position */
  }
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hero-icon {
  justify-self: center;
  padding: 0;
  border-radius: 50%;
  align-content: center;
  height: 8rem;
  width: 8rem;
  background-color: #373741;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: clamp(2rem, 10vH, 4rem);
  text-align: center;
}